html {
  overflow-y: scroll;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #f1f1f1;
}

.flyer-editor {
  display: flex;
}

.flyer-stack {
  min-height: 10px;
  margin: auto;
  transition: 300ms ease-in-out;
}

.flyer-stack-wrapper {
  margin: auto;
  user-select: none;
}

.widget {
  background-color: white;
  color: #232323;
  border: 1px solid #777;
  // border-top: 3px solid #343434;
  width: 400px;
  min-height: 150px;
  user-select: none;

  .toolkit {
    visibility: hidden;
  }
}

.widget:hover {

  .toolkit {
    visibility: visible;
  }
}

.dnd-transparent {
  opacity: 0.7;
}

.can-drag {
  cursor: move;
}


.widget-transition-enter {
  opacity: 0.01;
  transform: scale(0, 0);
}

.widget-transition-enter.widget-transition-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: 300ms ease-in-out;
}

.widget-transition-leave {
  opacity: 1;
  transform: scale(1, 1);
}

.widget-transition-leave.widget-transition-leave-active {
  opacity: 0.01;
  transform: scale(0, 0);
  transition: 300ms ease-in-out;
}

.widget-transition-appear {
  opacity: 0.01;
}

.widget-transition-appear.widget-transition-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.widget-wrapper {
  transform: scale(1, 1);
}

.widget-content {

}

.widget-editor {
  margin: 1em;
}

.widget-editor-hidden {
  transform: scale(0, 0);
  height: 0;
  transition: transform 300ms ease-in-out 300ms;
}

.widget-content-hidden {
  transform: scale(0, 0);
  position: absolute;
  transition: transform 300ms ease-in-out 300ms;

}

.adding-panel {
  width: 400px;
}
